
<div id="sanketh1" >
    <section class="vh-100 bg-image"
      style="background-image: url('https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg');"class="image">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h1 class="text-center mb-5" style="font-size: x-large;" > Are you an Admin ?</h1>
                  <h2 class="text-uppercase text-center mb-5">Create an account</h2>
    
                  
    
    
                    <div class="form-outline mb-4">
                      <input required type="username" id="typeusernameX" name="Username" #username="ngModel" type="username" id="form3Example3cg" [(ngModel)]=author.username  class="form-control form-control-lg" />
                      <div class="alert alert-danger" *ngIf=" username.touched && !username.valid">Username is Required</div>
                      <label class="form-label" for="form3Example3cg">Your Username</label>
                    </div>
    
                    <div class="form-outline mb-4">
                      <input required type="password" id="typePasswordX" name="password" #password="ngModel" type="password" id="form3Example4cg" [(ngModel)]=author.password  class="form-control form-control-lg" /> 
                      <div class="alert alert-danger" *ngIf=" password.touched && !password.valid">Password is Required</div>
                      <label class="form-label" for="form3Example4cg">Password</label>
                    </div>
    
                   
    
                    
                    <div class="d-flex justify-content-center">
                      <button type="button" 
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="registerAuthor()" >Register</button>
                    </div>
    
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" routerLink="/login"
                        class="fw-bold text-body"><u >Login here</u></a></p>
                        
    
                
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    <div id="sanketh2"> Admin Account created Succesfully <p class="text-center text-muted mt-5 mb-0"> <a href="/login" routerLink="/login"
        class="fw-bold text-body"><u >Login here</u></a></p> </div>