<div class="container">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="font">A.J Hospital and Research Centre is one of the foremost tertiary hospitals in India. This leading institution provides state of the art health care treatment and facilities across 30 major medical disciplines. The Visionary initiative of Dr. A.J. Shetty, a reputed entrepreneur, educationist and well known philanthropist, was realised, when the hospital began in 2001 and today it stands as a unique center of medical excellence.

              A.J Hospital and Research Centre is a unit of the Laxmi Memorial Educational Trust ® a premier institution which manages a string of professionals colleges that include medical, dental and engineering.

              Vision
              A.J Hospital & Research Centre is committed to bring quality medical care of the highest standard within the reach of every individual. To realize this dream of ‘Quality Health Care for All’, we shall strive for excellence in medical services, health education and research.

              Mission
              We shall constantly strive to;
              
              Achieve customer satisfaction by compassionate attitude and quality healthcare services
              Provide comfortable and a risk free environment for our patients
              Bring quality healthcare within the financial reach of every individual
              Attain excellence in medical education and research
              Provide comfortable and safe working environment for our employees</p>
            <footer class="blockquote-footer"> <cite title="Contact Us">Data loader AJ hospitals
                India, 142 street
                Tel. 93 237 55 64
                Opening hours:
                Monday to Thursday: 9am – 6pm – Friday: 9am – 3pm</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    