


<div class="input-group">
    <span class="input-group-text">Patient Name</span>
    <input required type="patient_name" id="typePatientNameX" name="patient_name" #patient_name="ngModel" type="text"  placeholder="Enter the Patient Name" [(ngModel)]=patient.patient_name aria-label="First name"
        class="form-control">
    <div class="alert alert-danger" *ngIf=" patient_name.touched && !patient_name.valid">Patient Name is Required</div>

</div>

<br>
<div class="input-group">
    <span class="input-group-text">Patient Address</span>
    <input required type="patient_address" id="typepatient_addressX" name="patient_address" #patient_address="ngModel" type="text"  placeholder="Please Enter Your Address" [(ngModel)]=patient.patient_address aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" patient_address.touched && !patient_address.valid">Patient Address is Required</div>

</div>
<br>
<div class="input-group">
    <span class="input-group-text">Dob</span>
   
<input type="date" id="typeDobX" name="dob" #dob="ngModel" [(ngModel)]=patient.dob  aria-label="First name"  >
    <!-- <input  type="date"  type="text"  placeholder="eg: Mention your DOB in YYYY-MM-DD" 
        class="form-control"> -->
    <div class="alert alert-danger" *ngIf=" dob.touched && !dob.valid">Mention the dob </div>

</div>
<!-- <br>
<div class="input-group">
    <span class="input-group-text">Patient Email</span>
    <input   required type="patient_email" id="typePatient_emailX" name="patient_email" #patient_email="ngModel" type="text"  placeholder="please insert image url" [(ngModel)]=patient.patient_email aria-label="First name"
        class="form-control">
        <div class="alert alert-danger" *ngIf=" patient_email.touched && !patient_email.valid">Specify the Image URL </div>


</div>-->
<br> 
<div class="input-group">
    <span   class="input-group-text">Patient Contact Number</span>
    <input required type="patient_contactnumber" id="typepatient_contactnumberX" name="patient_contactnumber" #patient_contactnumber="ngModel" type="text" placeholder="Enter the Valid Contact Number"  aria-label="Price" [(ngModel)]=patient.patient_contactnumber
        class="form-control">
        <div class="alert alert-danger" *ngIf=" patient_contactnumber.touched && !patient_contactnumber.valid">Enter Contact Number </div>
</div>
 

<br>
<button class="btn btn-primary" (click)="updatemethod()">update</button>
