<nav class="navbar navbar-expand-lg bg-grad1">
  <div class="logo">
    <a   href="/about"><img src="/assets/doctor.jpg" class="image"  alt="logo"></a>

  </div>

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" > 
          <a class="nav-link" style="color: white;"  routerLink="/about" href="#">About Us</a>
          
        
          <a class="nav-link" style="color: white;" routerLink="/login" href="#">Login</a>
          <a class="nav-link" style="color: white;" routerLink="/signup" href="#">Sign Up</a>
          <a class="nav-link" style="color: white;" routerLink="/login" href="#">Log Out</a>
         
        </div>
      </div>
    </div>
  </nav>

  

  
